<!DOCTYPE html>
<html>
<head>
	<title> Create 2</title>
</head>
<body>
 <h1> This is create 2 </h1>
 <p> he maximum number of digits allowed in the number. Note that this number must be greater than or equal to decimal_places.

DecimalField.decimal_places¶
The number of decimal places to store with the number.

For example, to store numbers up to 999 with a resolution of 2 decimal places, you’d use:

models.DecimalField(..., max_digits=5, decimal_places=2)
And to store numbers up to approximately one billion with a resolutio</p>

<ol> Colors </ol>
<li>red</li>
<li>green</li>
</body>
</html>
